<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="dist/app.css">

    <title>Driving</title>
</head>
<body>
    <div id="app">

        <div class="btn_fixed">

            <div class="fixed_first">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <p>Demos</p>
            </div>

            <div class="fixed_second">
                <div class="content">
                    <span class="color">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        39

                    </span>
                    <p>On Sale</p>
                </div>
                
            </div>

        </div>

        <header>

            <div class="top_header">
                <div class="container flex">
                    <p>We have a 95% Successful Pass Rate!</p>
                    <p>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>Gives us a call to book your tuition! 1-800-555-555</span>
                    </p>
                </div>
            </div>

            <div class="hero">
                <img src="./public/images/homepage-hero-background.jpg" alt="">
                <nav>
                    <div class="container flex">
                        <div class="brand">
                            <img src="./public/images/avada-drivers-logo-1x.png" alt="">
                        </div>
                        <ul class="flex">
                            <li v-for="link,index in navbarLinks" @click="changePage(link, index)" :class="{'active' : (index == pageActive)}">
                                <a v-if="link.type == 'link'" :href="link.link">{{link.name}} <span v-if="link.status == 'new'" class="new">{{link.status}}</span></a>
                                
                                <div v-else class="container_button">
                                    <input type="button" class="button_primary" :value="link.name">
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container flex">
                    <div class="text">
                        <h1>Drive with Avada</h1>
                        <p>We offer the finest driving tuition money can buy</p>
                    </div>
                </div>
            </div>

        </header>

        <main>

            <section>
                <div class="container flex">
                    <div class="content col-6">
                        <h2>get behind the wheel</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit tenetur consectetur dolorum amet dolore iure! Aliquam aut, labore asperiores quidem ducimus corrupti dolore, fugit mollitia porro necessitatibus esse placeat eum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quis dignissimos deserunt neque quae, quaerat distinctio cupiditate facere ipsum nulla sunt illo laudantium voluptates eligendi veritatis animi maiores dolore. Dolorem.</p>
                    </div>
                    <div class="card up col-6">
                        <h3>first lesson free!</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sit amet consectetur adipisicing elit.</p>
                        <form action="" id="myform" @submit.prevent="requestACallback()">
                            <input type="text" placeholder="Your Name*" name="name" v-model="callBackData.name" :class="{outline : requestDataName}">
                            <input type="text" placeholder="Email*" name="email"
                            v-model="callBackData.email" :class="{outline : requestDataEmail}">
                            <input type="text" placeholder="Telephone" name="telephone" v-model="callBackData.telephone">
                            <input type="text" placeholder="Location" name="location" v-model="callBackData.location">
                            <button class="button_primary">request a callback</button>
                        </form>
                        <p class="required">I campi contrassegnati con * sono obbligatori</p>
                        <div v-if="requireReceived" class="overlay flex card">
                            <p>Richiesta inviata correttamente <br> A breve riceverai una email di conferma</p>
                        </div>
                        <div v-else-if="!dataIsValid" class="overlay flex card">
                            <p style="text-transform: uppercase;">Caratteri non validi <i style="color: rgb(161, 7, 7)" class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cta">
                <img src="./public/images/horizontal-cta-background.jpg" alt="">
                <div class="container flex">
                    <div class="text">
                        <h2>start learning to drive today</h2>
                        <p>Give us a call to schedule your first driving lesson</p>
                    </div>
                    <p>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        1-800-555-555

                    </p>
                </div>
            </section>

            <section class="learn_more">
                <div class="background">
                </div>
                <div class="container">
                    <div class="row flex">
                        <div class="col-3" v-for="(item, index) in learnMoreList" v-if="index != showCard">
                            <div class="box_img">
                                <img :src="item.imgUrl" alt="">
                            </div>
                            <h4>{{item.title}}</h4>
                            <input type="button" class="button_secondary" value="LEARN MORe" @click="showLearnMore(index)">
                        </div>
                        <div v-else class="card col-4 up">
                            <h4>{{item.title}}</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, adipisci quo illum eaque laborum at, maxime vero veritatis facilis voluptatibus explicabo obcaecati aspernatur! Deleniti quo commodi rem minima placeat quisquam.</p>
                            <input type="button" class="button_primary" value="COURSE INFORMATION">
                            <img v-if="item.status == 'new'" src="./public/images/new-corner.jpg" alt="">
                        </div>
                    </div>
                    
                    <div class="container flex" id="progress_bar">
                        <div class="card brd_top">

                            <div class="box">

                                <div class="percent">

                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>

                                    <div class="number">
                                        <h2>95<span>%</span></h2>
                                    </div>

                                </div>

                                <h4 class="text">pass rate</h4>

                            </div>

                        </div>
                        <div class="card brd_top">

                            <div class="box">

                                <div class="percent">

                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>

                                    <div class="number">
                                        <h2>100<span>%</span></h2>
                                    </div>

                                </div>

                                <h4 class="text">refferal rate</h4>

                            </div>

                        </div>
                        <div class="card brd_top">

                            <div class="box">

                                <div class="percent">

                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>

                                    <div class="number">
                                        <h2>0<span>%</span></h2>
                                    </div>

                                </div>

                                <h4 class="text">accident rate</h4>

                            </div>

                        </div>
                    </div>

                    <div class="row instructors">
                        <h2>Your Instructors</h2>
                        <div class="text flex">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia beatae reiciendis consectetur sed reprehenderit, veritatis alias animi similique ipsam.</p>
                            <button class="button_primary">more about us</button>
                        </div>
                        <div class="container_card flex">
                            <div class="card brd_top" v-for="item in instructors">
                                <div class="box_img">
                                    <img :src="item.img" alt="">
                                </div>
                                <h4>{{item.name}}</h4>
                                <div class="box_icon">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>

                                </div>
                                <p id="descr_instructor">{{item.description}}</p>
                                

                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>

            <section class="slider" tabindex="-1" @keyup.right="nextTestimonial()" @keyup.left="previousTestimonial()">
                <div class="layover">
                    <div class="container">
                        <h2>Testimonials</h2>
                        <p>Here's what our happy drivers had to say about our services:</p>
                        <div v-if="index == testimonialActive" class="slide" v-for="item,index in testimonials">
                            <div class="box_img">
                                <img :src="item.img" alt="">
                            </div>
                            <p class="description">{{item.description}}</p>
                            <h3>{{item.name}}</h3>
                        </div>
                        <div class="box_circle flex">
                            <div class="circle" :class="{bg : (index == testimonialActive)}" v-for="item, index in testimonials" @click="changeTestimonials(item, index)"></div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="new">
                <div class="container">
                    <div class="card brd_top">
                        <h2>latest new</h2>
                            <div class="content flex">
                                <div class="col-6">
                                    <div class="box_img">
                                        <img src="./public/images/blog-choosecar-700x441.jpg" alt="">
                                    </div>
                                    <h4>what car start with?</h4>
                                    <p class="date">February 7th, 2019 | <button @click="showComments('first')" @blur="showComments('first')" class="button_transparent">{{commentsListFirst.length}} comments</button></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <div class="comment" v-if="showCommentsFirst">
                                        <p v-if="commentsListFirst.length == 0">Nessun commento</p>
                                        <ul v-else>
                                            <li v-for="comment,index in commentsListFirst"><span>{{index + 1}})</span> {{comment}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box_img">
                                        <img src="./public/images/blogpost-10and2-700x441.jpg" alt="">
                                    </div>
                                    <h4>avada driving school expanding</h4>
                                    <p class="date">February 7th, 2019 | <button @click="showComments('second')" @blur="showComments('second')" class="button_transparent">{{commentsListSecond.length}} comments</button></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <div class="comment" v-if="showCommentsSecond">
                                        <p v-if="commentsListSecond.length == 0">Nessun commento</p>
                                        <ul v-else>
                                            <li v-for="comment,index in commentsListSecond"><span>{{index + 1}})</span> {{comment}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="button_primary">more from the blog</button>
                        <div class="box_img_arrow">    
                            <img src="./public/images/latestnews-bottom-1200x105.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="newsletter">
                <div class="container">

                    <h3>Sing up to our Newsletter</h3>
                    <div class="container_input">

                        <input type="email" @keyup.enter="sendEmail()" v-model="emailForNewsletter">
                        <button class="button_primary" @click="sendEmail()">subscribe</button>
                        
                    </div>

                    <p  class="received" v-if="emailReceived">Ti sei iscritto alla nostra Newsletter</p>

                    <p  class="received" v-if="!emailIsValid">Email non valida <i style="color: rgb(161, 7, 7)" class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>

                    <p>(Lorem ipsum, dolor sit amet consectetur adipisicing elit.)</p>
                    
                </div>
            </section>

        </main>

        <footer>

            <div class="footer_top">
                <div class="container flex">
                    <div class="col-4">
                        <div class="box_logo">
                            <img src="./public/images/avada-drivers-logo-2x-200x39.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, architecto repellat praesentium quia ut id, molestias distinctio laborum enim ipsum sapiente exercitationem placeat? Saepe eligendi numquam facilis quos consequuntur aperiam?</p>
                    </div>
                    <div class="col-4">
                        <h4>contact details</h4>
                        <ul>
                            <li>
                                <span><i class="fa fa-home" aria-hidden="true"></i></span>
                                <span>1234 Nort Main Street, <br> New Yorn NY 555555</span>
                            </li>
                            <li>
                                <span><i class="fa fa-phone" aria-hidden="true"></i></i></span>
                                <span>1.800.500.5555</span>
                            </li>
                            <li>
                                <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                <span>info@your-domain.com</span>
                            </li>
                            <li>
                                <span><i class="fa fa-link" aria-hidden="true"></i></span>
                                <span><a href="#">theme-Fusion.com</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h4>Courses</h4>
                        <ul class="courses">
                            <li v-for="item in footerLinks">
                                <span><i class='fa fa-arrow-circle-o-right' aria-hidden='true'></i></span>
                                <span><a href="#">{{item.title}}</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 grid">
                        <img src="./public/images/footer-ad-grid-400x357.png" alt="">
                        <input type="button" value="book now" class="button_primary">
                    </div>

                </div>
            </div>

            <div class="footer_down">
                <div class="container">
                    <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2012 - 2020 | Avada Theme by <a href="#">ThemeFusion</a> | All Rights Reserved | Powered by <a href="#">WordPress</a></p>
                </div>
            </div>

        </footer>

    </div>
    <script src="./script/app.js"></script>
</body>
</html>
