<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="dist/app.css">

    <title>Driving</title>
</head>
<body>
    <div id="app">

        <header>

            <div class="top_header">
                <div class="container flex">
                    <p>We have a 95% Successful Pass Rate!</p>
                    <p>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>Gives us a call to book your tuition! 1-800-555-555</span>
                    </p>
                </div>
            </div>

            <div class="hero">
                <nav>
                    <div class="container flex">
                        <div class="brand">
                            <img src="/public/images/avada-drivers-logo-1x.png" alt="">
                        </div>
                        <ul class="flex">
                            <li v-for="link in navbarLinks">
                                <a v-if="link.type == 'link'" :href="link.link">{{link.name}} <span v-if="link.status == 'new'" class="new">{{link.status}}</span></a>
                                
                                <button v-else class="btn_primary">{{link.name}}</button>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container flex">
                    <div class="text">
                        <h1>Drive with Avada</h1>
                        <p>We offer the finest driving tuition money can buy</p>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <script src="/script/app.js"></script>
</body>
</html>