* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'KoHo', sans-serif;
}
.container {
    max-width: 920px;
    margin: auto;
}
.flex {
    display: flex;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    font-size: $font_size*1.7;
    color: $median_cut_secondary;

}
.card {
    position: relative;
    border-radius: 8px;
    padding: $spacing;
    text-align: center;
    background-color: $color_cube_primary;
    &.up {
        margin-top: -80px;
    }

}
[class^="button_"] {
    border-radius: 20px;
    padding: ($spacing / 2);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
        letter-spacing: 1.5px;
    }

}
.button_primary {
    border: none;
    color: $color_cube_primary;
    background-color: $median_cut_terziary;
    
}
.button_secondary {
    border: 2px solid $median_cut_quaternary;
    color: $median_cut_quaternary;
    background-color: transparent;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: (100% / 12 * 4);
}
// .col-3 {
//     width: calc(100% / 12 * 3);
// }
.mrg-0 {
    margin: 0;
}