@mixin button_primary {
    border-radius: 20px;
    border: none;
    color: $color_cube_primary;
    background-color: $median_cut_terziary;
    padding: ($spacing / 2);
    
}

@mixin button_secondary {
    border-radius: 20px;
    border: 2px solid $median_cut_quaternary;
    color: $color_cube_primary;
    background-color: transparent;
    padding: ($spacing / 2);
}