// color cube
$color_cube_primary: #ffffff;
$color_cube_secondary: #484848;
$color_cube_terziary: #79b27b;
$color_cube_tertiary: #79b27b;
$color_cube_quaternary: #040b11;
$color_cube_quinary: #e32929;
$color_cube_sextary: #d6c9b0;
$color_cube_septenary: #78020f;
$color_cube_octagonal: #db677d;
$color_cube_novenary: #79b7e4;
$color_cube_novenary: #79b7e4;
$color_cube_diecinary: #036db4;

// median cut
$median_cut_primary: #e5e8eb;
$median_cut_secondary: #3f4843;
$median_cut_terziary: #85b680;
$median_cut_quaternary: #7f9ea8;
$median_cut_quinary: #93806f;

// material design
$material_design_primary: #d82b32;
$material_design_secondary: #48644b;
$material_design_terziary: #9f1726;
$material_design_quaternary: #0f1d1f;
$material_design_quinary: #d2b899;

$spacing: 20px;
$font_size: 16px;


